################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/obj/Debug
/Backend/obj/Debug/net5.0/Backend.csproj.AssemblyReference.cache
/Backend.Tests/obj/Debug/net5.0/Backend.Tests.csproj.AssemblyReference.cache
/backend/.vs/BackEnd/v16/.suo
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
Backend.Tests/bin/Debug/net5.0/Backend.dll
.vs/BackEnd/v16/.suo
Backend.Tests/bin/Debug/net5.0/Backend.dll
Backend.Tests/bin/Debug/net5.0/Backend.pdb
Backend.Tests/bin/Debug/net5.0/Backend.Tests.dll
Backend.Tests/bin/Debug/net5.0/Backend.Tests.pdb
Backend.Tests/bin/Debug/net5.0/Pricing/DAL/Prices.json
Backend.Tests/obj/Debug/net5.0/Backend.Tests.csproj.AssemblyReference.cache
Backend.Tests/obj/Debug/net5.0/Backend.Tests.dll
Backend.Tests/obj/Debug/net5.0/Backend.Tests.pdb
Backend/bin/Debug/net5.0/Backend.dll
Backend/bin/Debug/net5.0/Backend.pdb
Backend/bin/Debug/net5.0/Pricing/DAL/Prices.json
Backend/bin/Debug/net5.0/ref/Backend.dll
Backend/obj/Debug/net5.0/Backend.csproj.CopyComplete
Backend/obj/Debug/net5.0/Backend.csproj.FileListAbsolute.txt
Backend/obj/Debug/net5.0/Backend.dll
Backend/obj/Debug/net5.0/Backend.pdb
Backend/obj/Debug/net5.0/ref/Backend.dll
.vs/BackEnd/v16/.suo
Backend/bin/Debug/net5.0/Backend.dll
Backend/bin/Debug/net5.0/Backend.pdb
Backend/bin/Debug/net5.0/ref/Backend.dll
Backend/obj/Debug/net5.0/Backend.csproj.CopyComplete
Backend/obj/Debug/net5.0/Backend.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net5.0/Backend.csproj.FileListAbsolute.txt
Backend/obj/Debug/net5.0/Backend.dll
Backend/obj/Debug/net5.0/Backend.pdb
Backend/obj/Debug/net5.0/ref/Backend.dll
.vs/BackEnd/v16/.suo
Backend.Tests/bin/Debug/net5.0/Backend.dll
Backend.Tests/bin/Debug/net5.0/Backend.pdb
Backend.Tests/bin/Debug/net5.0/Backend.Tests.dll
Backend.Tests/bin/Debug/net5.0/Backend.Tests.pdb
Backend.Tests/bin/Debug/net5.0/ref/Backend.Tests.dll
Backend.Tests/obj/Debug/net5.0/Backend.Tests.csproj.AssemblyReference.cache
Backend.Tests/obj/Debug/net5.0/Backend.Tests.dll
Backend.Tests/obj/Debug/net5.0/Backend.Tests.pdb
Backend.Tests/obj/Debug/net5.0/ref/Backend.Tests.dll
Backend/bin/Debug/net5.0/Backend.dll
Backend/bin/Debug/net5.0/Backend.pdb
Backend/bin/Debug/net5.0/ref/Backend.dll
Backend/obj/Debug/net5.0/Backend.dll
Backend/obj/Debug/net5.0/Backend.pdb
Backend/obj/Debug/net5.0/ref/Backend.dll
.vs/BackEnd/v16/.suo
.vs/BackEnd/DesignTimeBuild/.dtbcache.v2
.vs/BackEnd/v16/.suo
.vs/BackEnd/v16/TestStore/0/002.testlog
.vs/BackEnd/v16/TestStore/0/testlog.manifest
Backend.Tests/obj/Debug/net5.0/Backend.Tests.csproj.AssemblyReference.cache
.vs/BackEnd/DesignTimeBuild/.dtbcache.v2
.vs/BackEnd/v16/.suo
