################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/obj/Debug
/Backend/obj/Debug/net5.0/Backend.csproj.AssemblyReference.cache
/Backend.Tests/obj/Debug/net5.0/Backend.Tests.csproj.AssemblyReference.cache
/backend/.vs/BackEnd/v16/.suo
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
